.myContainer{
    position: relative;
    display: inline-block;
    text-align: center;
}

.image {
    width: 100%;
}

.title{
    position: absolute;
    color: #f89406;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    top: 50px;
    left: 10px;
}

.text1 {
    position: absolute;
    color: white;
    top: 90px;
    left: 10px;
}

.text2 {
    position: absolute;
    color: white;
    top: 120px;
    left: 10px;
}

.text3 {
    position: absolute;
    color: white;
    top: 150px;
    left: 10px;
}

.btn-warning {
    position: absolute;
    top: 250px;
    left: 10px;
    border-color: #f89406;
    font-size: 25px;
}
