<app-carousel></app-carousel>

<div class="d-flex justify-content-center mt-4">
    <h3>Selecciona una categoría</h3>
</div>

<div class="d-flex justify-content-evenly mt-5">
    <button
        [routerLink]="['./trademarks/automobiles']"
        type="button"
        class="btn btn-outline-warning"
    >
        Automóviles
    </button>
    <button
        [routerLink]="['./trademarks/suv']"
        type="button"
        class="btn btn-outline-warning"
    >
        Camionetas
    </button>
    <button
        [routerLink]="['./trademarks/pickups']"
        type="button"
        class="btn btn-outline-warning"
    >
        Pickups
    </button>
    <button
        [routerLink]="['./trademarks/trucks']"
        type="button"
        class="btn btn-outline-warning"
    >
        Camiones
    </button>
</div>
