<div class="d-flex justify-content-between orangeText">
  <h2>{{ titleOfComponent }}</h2>
  <div class="dropdown me-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown"
      aria-expanded="false" data-bs-offset="10,20">
      Elegir por marca
    </button>
    <ul
      class="dropdown-menu"
      aria-labelledby="dropdownMenuOffset"
    >
      <ng-container *ngFor="let brand of brands">
        <li (click)="setBrandSelected(brand)">
          <a class="dropdown-item">{{ brand }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mb-5">
  <ng-container *ngFor="let vehicle of vehicles">
    <div class="col">
      <div (click)="setVehicleSelected(vehicle)" class="card h-100" style="cursor: pointer;">
        <img
          [src]=vehicle.image
          class="card-img-top"
        >
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title orangeText">
              {{ vehicle.trademark }} {{ vehicle.reference }} {{ vehicle.year }}
            </h5>
            <b>{{ vehicle.valueDay | currency : 'USD' : 'symbol' : '1.0-0' }}/día</b>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  
</div>